SURREALDB_URL=ws://localhost:8001
SURREALDB_NAMESPACE=questmap
SURREALDB_DATABASE=questmap
SURREALDB_USERNAME=root
SURREALDB_PASSWORD=root

BACKENDPOINT_URL = 'https://SOME_OPENAI_COMPATIBLE_ENDPOINT'